* {
    font-family: 'Sarabun', sans-serif;
}


section {
    scroll-snap-align: start;
}


/* ================ Contenedor principal ================== */
.contenedor {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}



/* ================ Pagina #1 ================== */

.page1 {
    height: 100vh;
    background-color: #FAFAFA;
}

/* Barra de navegacion */

div.navegacion{
    margin-right: 60px;
    height: 230px;
    display: flex;
    justify-content: right;
}
.navbar {
    height: 100px;
}
ul{

    list-style: none;
}
nav.navbar ul li{
    position: relative;
    float: left;
}
nav.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 1.8em;
    color: black;

 
}
.navbar ul li a:hover{
    color: #00a4e7;
    transform: translateY(-6px);
}

/* icono menu responsive */
#menu-bar{
    display: none;
}
header label{

    font-size: 40px;
    color: #000000;
    cursor: pointer;
    display: none;
}



/* Configuracion responsive de barra de navegacion */
@media(max-width:991.98px){
    .navegacion{
        justify-content: right;
        display: flex;
    }
    
    nav.navbar ul li{
        position: unset;
        float: unset;
        
    }
    .navbar{
        background-color: rgba(0, 0, 0, 0.333);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        height: 250px;
        width: 180px;
        display: none;
        margin-top: 50px;
        margin-right: -50px;
    }
    
    header label{
        display: initial;
        margin-right: -50px;
    }

    nav.navbar ul li a{
        margin-left: -20px;
        color: #FAFAFA;
        font-size: 20px;

    }
    #menu-bar:checked ~ .navbar{
        display: initial;
 
    }
    
}

/* Contenido principal */

.contenido{
 
    padding: 20px;
    justify-content: center ;
}
.contenedor1{
    
    margin-left: 8%;
}

.contenedor2{
    margin-top: 70px;
}

/* Saludo */
h1#saludo {
    color: black;
    white-space: nowrap;
    border-right: 4px solid;
    width: 5ch;
    animation: typing 1s steps(12), blink .6s infinite step-end alternate;
    overflow: hidden;
    font-size: 4em;
}


/* Nombre */
h1#miNombre{
    
    color: black;
    white-space: nowrap;
    width: 18ch;
    border-right: 4px solid;
    animation: typing2 2s steps(12), blink .6s infinite step-end alternate;
    overflow: hidden;
    font-size: 3em;
    margin-bottom: 20px;
}
/* animacion de escritura de mi nombre */
@keyframes typing2{
    0%{
        width: 0
    }
    50%{
        width: 0
    }
    10%{
        width: 0
    }

}
/* Animacion de escritura del saludo */
@keyframes typing {
    from {
        width: 0
    }
}

/* Animacion de la barra de escritur */
@keyframes blink {
    50% {
        border-color: transparent
    }
}




/* ================ Mi descripcion ================== */



.yo h1 {
    text-align: left;
}

.circulo {
    margin: auto;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    /* background-image: url("img/pefil.jpg"); */
    background-color: #D9D9D9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#profesion {
    font-style: italic;
    font-size: 30px;
    line-height: 19px;
    text-align: left;
    color: rgb(0, 0, 0, 0.6);
}



/* ================ Redes ================== */


.redes_contenedor {

    justify-content: right;
    text-align: right;
    margin-top: 40px;
}

.redes div a i {
    margin: 20px;
    color: black;
    font-size: 65px;
}

.redes div a i.fa-behance{
    font-size: 50px;
}
.redes div a i:hover {
    transition: all 0.3s ease-in;
    color: rgb(0, 183, 255);
    font-size: 70px;
    text-shadow: 5px 5px 5px 5px rgb(0, 183, 255);

}
.redes div a i.fa-behance:hover{
    font-size: 60px;
}
/* flecha */
.flecha{
    justify-content: center;
    display: flex;
}
i.fa-arrow-down{
    color: #000000;
    margin-top: 6vw;
    font-size: 3em;
}

/* Configuracion responsive de mi nombre y profesion */
/* Pantalla 1 */
@media (max-width:1400px){
    i.fa-arrow-down{
        
        margin-top: 2vw;
        font-size: 3em;
    }
    .circulo {
        width: 350px;
        height: 350px;
        margin-bottom: 30px;
    }
    
    .contenedor1{
        
        margin-left: 8%;    

    }
    .contenedor3{
        margin-top: 12px;
        width: 200px;
        margin-right: 2vw;
    }

    .contenido .redes_contenedor {
        justify-content: center;
        display: flex;
    }
   

    .redes div a i {
        margin: 15px;
        color: black;
        font-size: 45px;
    }
    .redes div a i:hover {
        transition: all 0.2s ease-in;
        color: rgb(0, 183, 255);
        font-size: 50px;
        transform: translateY(4px);
        text-shadow: 5px 5px 5px 5px rgb(0, 183, 255);
    
    }
}




/* Configuracion responsive de mi nombre y profesion */
    /* Pantalla 2 */
@media (max-width:1234px){
   
    .contenido{
        
        display: block;
        align-self: center;
        align-items: center;
        justify-content: center ;
    }
    div.contenedor1{
    
        margin: 0 auto;
    }

    .circulo {
        width: 250px;
        height: 250px;
   

    }
    .contenedor2{
        margin: 0 auto;

    }
    .contenedor3{
        margin: 0 auto;
    
    }
  
    

    .midescripcion{
        margin-left: 0px;
    }
    #profesion {
        font-style: italic;
        font-size: 30px;
        line-height: 19px;
        text-align: center;
        color: rgb(0, 0, 0, 0.6);
    }
    .yo h1 {
        align-items: center;
    }
    h1 {
        margin: 0 auto;
        color: black;
        white-space: nowrap;
        border-right: 2px solid;
        width: 5ch;
        text-align: center;
        animation: typing 2s steps(12), blink .5s infinite step-end alternate;
        overflow: hidden;
        font-size: 2.3em;
    }
    h1#miNombre{
        
        width: 17ch;
        font-size: 2.7em;

    }
    div.navegacion {
        height: 100px;
    }
    

}

    /* Pantalla 3 */
@media (max-width:768px){
    .contenedor3{
        margin-top: -20px;
    }
  
    h1#saludo{
        font-size: 2.5em;
    }
    h1#miNombre{
        
        width: 17ch;
        font-size: 2em;

    }
}









/* ================ Pagina #2 ================== */
.page2 {
    background-color: #414141;

    height: 100%;
}


/* Contenedor de las Descripcion */
.descripciones_contenedor {
    text-align: center;
    word-break: break-all;
    margin-left: 50px;
    margin-right: 50px;


}

.descripcion {
    height: auto;
    background-color: #07182E;
    border-radius: 1rem;
    border: #07182E 0.2rem solid;
    transition: all 0.4s ease-in;
}
.descripcion:hover{
    transform: translateY(-1.5rem);
    border: rgb(0, 183, 255) 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
}
.descripcion2 {
    background-color: #07182E;
    margin-left: auto;
    height: auto;
    border-radius: 1rem;
    border: #07182E 0.2rem solid;
    transition: all 0.4s ease-in;
}
.descripcion2:hover{
    transform: translateY(-1.5rem);
    border: rgb(0, 183, 255) 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
}

.descripciones_contenedor h3{
    color: rgb(0, 183, 255);
}
.descripciones_contenedor p{
    color: white;
}
.header2 h2 {
    text-align: center;
    color: #00a4e7;
}









/* pagina 3 */
.page3 {

    height: 100%;
}

.page4 {
    background-color: #ffffff;
    height: 100%;
}



.page3 .header2 {
    background-color: #ffffff;
    width: 100%;
    height: 110px;

    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
}

.page4 .header3 {
    background-color: #00a4e7;
    width: 100%;
    height: 110px;
    box-shadow: rgba(0, 0, 0, 0.18) 2px 2px 4px;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
}


