* {
    font-family: 'Sarabun', sans-serif;
}

body {
    overflow-y: hidden;

}

section {
    scroll-snap-align: start;

}


/* ================ Contenedor principal ================== */
.contenedor {

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;

}



/* ================ Pagina #1 ================== */
.page1 {

    height: 100vh;

}

/* Fondo principal */
.fondo {
    background: rgba(255, 255, 255, 0.181);
    /* background: linear-gradient(1980deg, rgba(250,250,250,0.4780287114845938) 47%, rgba(0,164,231,0.48082983193277307) 100%),
    url('./img/fondo2.jpg'); */

}

/* Video de fondo */
.videoFondo {
    filter: grayscale(100);
    z-index: -1;
    position: absolute;
    width: 100%;

}


/* Barra de navegacion */

div.navegacion {
    margin-right: 60px;
    height: 230px;
    display: flex;
    justify-content: right;
}

.navbar {
    height: 100px;
}

ul {

    list-style: none;
}

nav.navbar ul li {
    position: relative;
    float: left;
}




/* nav.navbar ul li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 1.8em;
    color: white;

}
/* Animacion texto del menu */
/* .navbar ul li a:hover {
    color: #00a4e7;
    transform: translateY(-6px);
} */

nav.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    padding: 20px;
    background-image: linear-gradient(#00a4e7, #00a4e7);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
}

nav.navbar ul li a:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
}



/* icono menu responsive */
#menu-bar {
    display: none;
}

header label {

    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}




/* Contenido principal */

.contenido {
    padding: 20px;
    justify-content: center;
}

/* Contenedor circulo */
.contenedor1 {
    margin-left: 8%;
}

/* Contenedor descripcion */
.contenedor2 {
    margin-top: 70px;
}

/* Texto saludo */
h1#saludo {
    color: #00a4e7;
    white-space: nowrap;
    border-right: 4px solid;
    width: 5ch;
    animation: typing 1s steps(12), blink .6s infinite step-end alternate;
    overflow: hidden;
    font-size: 4em;
}


/* Texto nombre */
h1#miNombre {
    color: rgb(255, 255, 255);
    white-space: nowrap;
    width: 18ch;
    border-right: 4px solid;
    animation: typing2 2s steps(12), blink .6s infinite step-end alternate;
    overflow: hidden;
    font-size: 3em;
    margin-bottom: 20px;
}

h1#miNombre span {
    color: #00a4e7;
}


/* Animacion de escritura de nombre */
@keyframes typing2 {
    0% {
        width: 0
    }

    50% {
        width: 0
    }

    10% {
        width: 0
    }

}

/* Animacion de escritura */
@keyframes typing {
    from {
        width: 0
    }
}

/* Animacion de la barra de escritura */
@keyframes blink {
    50% {
        border-color: transparent
    }
}


/* Descripcion */



.yo h1 {
    text-align: left;
}

.circulo {
    margin: auto;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    background-image: url("img/pefil.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: pulso 3s infinite;
}

/* Animacion para el circulo */
@keyframes pulso {
    0% {

        box-shadow: 0px 0px 13px 5px #00a6e7af;

    }

    50% {

        box-shadow: 0px 0px 10px 1px #c5e1ed42;
    }

    100% {
        box-shadow: 0px 0px 13px 5px #00a6e79d;
    }
}



/* Texto profesion */
#profesion {

    font-style: italic;
    font-size: 30px;
    line-height: 19px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);

}


/* Redes */

.redes_contenedor {

    justify-content: right;
    text-align: right;
    margin-top: 40px;
}

.redes div a i {
    margin: 20px;
    color: rgb(255, 255, 255);
    font-size: 65px;
}

.redes div a i.fa-behance {
    font-size: 50px;
}

.redes div a i:hover {
    transition: all 0.3s ease-in;
    color: rgb(0, 183, 255);
    font-size: 70px;
    text-shadow: 5px 5px 5px 5px rgb(0, 183, 255);

}

.redes div a i.fa-behance:hover {
    font-size: 60px;
}

/* Boton download cv */

.botoncv {
    margin-top: 40px;
    justify-content: left;
    display: flex;
}


button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: rgb(0, 183, 255);
    border-style: none;
    padding: 5px;
    position: relative;
    width: 140px;
    height: 50px;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.7em;
}

button p {
    text-align: center;
    position: absolute;
    top: 0.7em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #FAFAFA;
}

button i.fa-download {
    position: absolute;
    font-size: 19px;
    right: 5px;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;


    color: #fff;
}

button:hover p {
    left: 0.4em;
    color: #fff;
}

button:hover i.fa-download {
    opacity: 1;
}

button:hover {
    background-color: #000000;
}


/* Flecha down */
.flecha {
    justify-content: center;
    display: flex;
}

i.fa-arrow-down {
    color: #00a4e7;
    margin-top: 6vw;
    font-size: 3em;
}

.contenedor_wave {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;

}

/* Ondas footer */
.page1 .wave {
    height: 100px;
    position: absolute;
    width: 100%;

    background: url(./img/wave1.png);
    background-size: 1000px 100px;
}

.page1 .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;

}

.page1 .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;

}

.page1 .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;

}

.page1 .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;

}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }

}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }

}

/* ================ Pagina #2 ================== */


/*Variables*/

.page2 {
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #0a4e74 0%, rgba(0, 164, 231, 0) 100%);
    height: 100vh;
    overflow-y: hidden;
    align-items: center;


}

/* Contenedor  Sobre mi*/


.contendor_carta{
    justify-content: center;
    display: flex;

}
.card{
    padding: 30px;

    position: relative;
    background: rgba(0, 0, 0, 0.45);
    margin: 45px;
    width: 800px;
    height: 500px;
    border-radius: 60px;
}

/* 
* Provided by the Generator. 
* This is what creates the shadow.
*/
.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 15px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
 
    background-image: linear-gradient(to top, #000000, #2d2229, #4e4155, #66668a, #6e91c0, #69a3d6, #5fb6ec, #4fcaff, #41c5ff, #32bfff, #20baff, #00b4ff);
    background-size: 200% 200%;
    filter: blur(20px);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        background-position: 0% 50%;
    }
    50%{

        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;

    }
}


.titulo_sobremi {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-bottom: 100px;
}

.card p {
    text-align: justify;
    color: white;
    font-size: 1.7em;
}

.carn p,
span {
    color: #00A4E7;
}




/* Contenedor de las Descripcion */
























/* ================ Pagina #3 ================== */

.page3 {
    height: 100%;
    overflow-y: hidden;
    background-color: #ffffff;
}

.header2 h2 {
    text-align: center;
    color: #00a4e7;
}

/* Interes personales */
h2.interes {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}

/* iconos de software */
.iconos_software {
    display: flex;
    justify-content: center;
}

.iconos_software2 {
    display: flex;
    justify-content: center;
}

.iconos_software i {
    padding: 10px;
    font-size: 5em;
    color: white;
}

.iconos_software2 i {
    padding: 10px;
    font-size: 5em;
    color: white;
}

.iconos_software i p {
    text-align: center;
    font-size: 20px;
    color: white;
}

.iconos_software2 i p {
    text-align: center;
    font-size: 20px;
    color: white;

}

.contenedor_interes hr {
    border: none;
    width: 45vw;
    height: 9px;
    background-color: #FAFAFA;
}

/* iconos de diseño */

.iconos_diseño {
    padding: 10px;
    display: flex;
    justify-content: center;

}

.iconos_diseño svg {

    padding: 10px;
    fill: white;
    height: 110px;
    width: 110px;
}

.iconos_diseño p {
    padding: 10px;
    color: #FAFAFA;
    text-align: center;
    font-size: 20px;
}


.page4 {
    background-color: #ffffff;
    height: 10vw;
}



.page3 .header2 {
    background-color: #ffffff;
    width: 100%;
    height: 110px;

    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
}

.page4 .header3 {
    background-color: #00a4e7;
    width: 100%;
    height: 110px;
    box-shadow: rgba(0, 0, 0, 0.18) 2px 2px 4px;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
}


/* ==================== Configuracion pantallas responsive ============== */

/* Configuracion responsive de barra de navegacion */
@media(max-width:991.98px) {
    .navegacion {
        justify-content: right;
        display: flex;
    }

    nav.navbar ul li {
        position: unset;
        float: unset;

    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.333);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        height: 250px;
        width: 180px;
        display: none;
        margin-top: 50px;
        margin-right: -50px;
    }

    header label {
        display: initial;
        margin-right: -50px;
    }

    nav.navbar ul li a {
        margin-left: -20px;
        color: #FAFAFA;
        font-size: 20px;

    }

    /* Abrir el menu */
    #menu-bar:checked~.navbar {
        display: initial;

    }

}


/* Configuracion responsive de mi nombre y profesion */
/* Pantalla 1 */
@media (max-width:1400px) {
    video.videoFondo {

        object-fit: cover;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);


    }

    i.fa-arrow-down {

        margin-top: 2vw;
        font-size: 3em;
    }

    .circulo {
        width: 350px;
        height: 350px;
        margin-bottom: 30px;
    }

    .contenedor1 {

        margin-left: 8%;

    }

    .contenedor3 {
        margin-top: 12px;
        width: 200px;
        margin-right: 2vw;
    }



    .redes div a i {
        margin: 15px;
        color: rgb(252, 252, 252);
        font-size: 45px;
    }

    .redes div a i:hover {
        transition: all 0.2s ease-in;
        color: rgb(0, 183, 255);
        font-size: 50px;
        transform: translateY(4px);
        text-shadow: 5px 5px 5px 5px rgb(0, 183, 255);

    }
}


/* Pantalla 2 */
@media (max-width:1234px) {
    .botoncv {
        margin-top: 15px;
        justify-content: center;
    }

    .contenido {

        display: block;
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    div.contenedor1 {

        margin: 0 auto;
    }

    .circulo {
        width: 250px;
        height: 250px;


    }

    .contenedor2 {
        margin: 0 auto;
        margin-top: -30px;

    }

    .contenedor3 {
        margin: 0 auto;
        margin-top: -35px;
    }



    .midescripcion {
        margin-left: 0px;
    }

    #profesion {
        font-style: italic;
        font-size: 25px;
        line-height: 19px;
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
    }

    .yo h1 {
        align-items: center;
    }

    h1 {
        margin: 0 auto;
        color: black;
        white-space: nowrap;
        border-right: 2px solid;
        width: 5ch;
        text-align: center;
        animation: typing 2s steps(12), blink .5s infinite step-end alternate;
        overflow: hidden;
        font-size: 2.3em;
    }

    h1#miNombre {

        width: 17ch;
        font-size: 2.7em;

    }

    div.navegacion {
        height: 60px;
    }

    .contenido .redes_contenedor {
        justify-content: center;
        display: flex;
    }

}

/* Pantalla 3 */
@media (max-width:768px) {
    .contenedor3 {
        margin-top: -20px;
    }

    #profesion {
        font-size: 25px;
    }

    h1#saludo {
        font-size: 2.5em;
    }

    h1#miNombre {

        width: 17ch;
        font-size: 2em;

    }
}